repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version
    rev: v0.14.7
    hooks:
      # Run the formatter.
      - id: ruff-format
      # Run the linter.
      - id: ruff-check
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.14
    hooks:
      - id: uv-lock
